<div class="hants-box">
  <div class="hant-box">
    <h4 class="hant-title"><%= hant.content[0, 13] %><% if hant.content.length > 13 %>...<% end %></h4>
    <div class="hant-content">
      <div class="hant-user clearfix">
        <span class="gravatar">
          <%= link_to gravatar_for(hant.user, size: 50), hant.user %>
        </span>
        <span class="profile">
          <div class="user-name">
            <%= hant.user.name[0, 15] %><% if hant.user.name.length > 15 %>...<% end %>
          </div>
          <div class="hometown">
            <% if hant.user.hometown.blank? %><br><% else %>
              <%= hant.user.hometown[0, 16] %><% if hant.user.hometown.length > 16 %>...<% end %>
            <% end %>
          </div>
        </span>
      </div>
      <div class="form-group">
        <div class="study_rank">
          <%= t('.study_evaluation', :default => "Rating for Study") %>
          &emsp;<span id="study_rank_<%= hant_counter %>"></span>
        </div>
        <div class="pc_rank form-group">
          <%= t('.pc_evaluation', :default => "Rating for PC") %>
          &emsp;<span id="pc_rank_<%= hant_counter %>"></span>
        </div>
      </div>
      <div class="form-group">
        <article><%= simple_format(h hant.content) %></article>
      </div>
    </div>
    <div class="hant-footer">
      <span class="timestamp">
        <%= time_ago_in_words(hant.created_at) %><%= t('.ago', default: ' ago.') %>
      </span>
      <% if current_user == hant.user %>
        <span class="delete-hant">
            <%= link_to t('.delete'), hant, method: :delete,
                data: { confirm: t('js.sure', default: 'Are you sure?') } %>
        </span>
        <% end %>
    </div>
  </div>
</div>

<script>
$('#study_rank_<%= hant_counter %>').raty({
    size      : 24,
    score     : <%= hant.study_evaluation %>,
    starOff   : '<%= asset_path "star-off.png" %>',
    starOn    : '<%= asset_path "star-on.png" %>',
    starHalf  : '<%= asset_path "star-half.png" %>',
    hints     : null,
    readOnly  : true,
    noRatedMsg: '0'
});

$('#pc_rank_<%= hant_counter %>').raty({
    size      : 24,
    score     : <%= hant.pc_evaluation %>,
    starOff   : '<%= asset_path "star-off.png" %>',
    starOn    : '<%= asset_path "star-on.png" %>',
    starHalf  : '<%= asset_path "star-half.png" %>',
    hints     : null,
    readOnly  : true,
    noRatedMsg: '0'
});

$().ready(function() {
  $('article').readmore({
      speed: 100,
      collapsedHeight: 70,
      heightMargin: 20,
      moreLink: '<a href="#"><%= t('js.more', :default => 'More') %></a>',
      lessLink: '<a href="#"><%= t('js.hide', :default => 'Hide') %></a>',
  });
});
</script>
