<%= form_for(@hant) do |f| %>
  <div class="form-group">
    <%= f.label t('.study_evaluation', :default => "Rating for study") %>
    &emsp;<span id="my_study_rank"></span>
    <%= f.hidden_field :study_evaluation %>
  </div>
  <div class="form-group">
    <%= f.label t('.pc_evaluation', :default => "Rating for PC") %>
    &emsp;<span id="my_pc_rank"></span>
    <%= f.hidden_field :pc_evaluation %>
  </div>
  <div class="form-group">
    <%= f.label :content, t('.comment', :default => "Comment") %>
    <%= f.text_area :content, class: "form-control",
        placeholder: t('.content_etc', :default => "Content") %>
  </div>
  <%= f.hidden_field :space_id, :value => @space.id %>
  <div class="submit-group">
    <%= f.submit t('.review', :default => "Review"),
      class: "btn btn-success", data: { disable_with: t('.reviewing', :default => "Now Reviewing...")} %>
		<button type='button' class='btn btn-default' data-dismiss='modal'>
		  <%= t('.close', :default => "Close") %>
		</button>
  </div>
<% end %>
