<div class="spacebox">
  <h2 class="spacebox-title"><%= t('.space_form', :default => "Space Information") %></h2>
  <div class="spacebox-inner">
    <%= form_for(@space) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label t('.address', :default => "Address"), id: "adrsLabel" %>
        <%= f.text_area :address, class: "form-control", readonly: true %>
      </div>
      <div class="form-group">
        <%= f.label t('.latitude', :default => "Latitude") %>
        <%= f.text_field :latitude, class: "form-control", readonly: true %>
      </div>
      <div class="form-group">
        <%= f.label t('.longitude', :default => "Longitude") %>
        <%= f.text_field :longitude, class: "form-control", readonly: true %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control",
            placeholder: t('.title', :default => "Title"),
            autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :description, "URL" %>
        <%= f.text_field :description, class: "form-control",
            placeholder: t('.description', :default => "URL"),
            autocomplete: "off" %>
      </div>
      <%= f.label :category %>&nbsp;&nbsp;
      <%= f.select :category, [[t('.cafe', :default => "Cafe"), "cafe"],
          [t('.library', :default => "Library"), "library"],
          [t('.original', :default => "Original Space(Others)"), "original"]] %>
      <div class="submit-group">
        <%= f.submit t('.create_space', :default => "Create this space"), 
        class: "btn btn-success", data: { disable_with: t('.creating', :default => "Now Creating")} %>
      </div>
    <% end %>
  </div>
</div>
