<% if request.path.include?('/spaces/new') || request.path==('/spaces') || request.path==('/en/spaces') || request.path==('/ja/spaces') %>
<div class="spacebox">
<% else %>
<div class="edit-spacebox">
<% end %>
  <h3 class="spacebox-title"><%= t('.space_form', :default => "Space Information") %></h3>
  <div class="spacebox-inner">
    <%= form_for(@space) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :address, id: "adrsLabel" %>
        <%= f.text_area :address, class: "form-control", readonly: true %>
      </div>
      <div class="form-group latLonForm row">
        <div class="col-xs-6">
          <%= f.label :latitude %>
          <%= f.text_field :latitude, class: "form-control", readonly: true %>
        </div>
        <div class="col-xs-6">
          <%= f.label :longitude %>
          <%= f.text_field :longitude, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control",
            placeholder: t('.title', :default => "Title"),
            autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :description, "URL" %>
        <%= f.url_field :description, class: "form-control",
            placeholder: t('.description', :default => "URL"),
            autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :category %>&emsp;
        <%= f.select :category, [[t('.cafe', :default => "Cafe"), "cafe"],
            [t('.library', :default => "Library"), "library"],
            [t('.original', :default => "Original Space(Others)"), "original"]] %>
      </div>
      <% if request.path.include?('/spaces/new') || request.path==('/spaces') || request.path==('/en/spaces') || request.path==('/ja/spaces') %>
        <div class="submit-group">
          <%= f.submit t('.hant_space', :default => "Create"), 
              class: "btn btn-success", data: { disable_with: t('.hanting', :default => "Now Hanting...")} %>
        </div>
      <% else %>
        <div class="submit-group">
          <%= f.submit t('.edit', :default => "Edit"), 
              class: "btn btn-success", data: { disable_with: t('.editing', :default => "Now Editing...")} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
