<div class="user-profile">
  <div class="user-profile-box row">
    <div class="icon col-xs-2">
      <%= gravatar_for user, size: 100 %>
    </div>
    <div class="profile-inner-box col-xs-10">
      <div class="name">
        <h2><%= user.name %><h2>
      </div>
      <div class="hometown">
        <h5>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= user.hometown %>
        <h5>
      </div>
      <div class="profile">
        <article><%= simple_format(h user.profile) %></article>
      </div>
    </div>
  </div>
  <!--<div class="status">-->
  <!--  <ul>-->
  <!--    <li>-->
  <!--      <div class="status-label">FOLLOWING</div>-->
  <!--      <div class="status-value">-->
  <!--        <= user.following_users.count %>-->
  <!--      </div>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <div class="status-label">FOLLOWERS</div>-->
  <!--      <div id="followers" class="status-value">-->
  <!--        <= user.followed_users.count %>-->
  <!--      </div>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <div class="status-label">WANT</div>-->
  <!--      <div id="want_count" class="status-value">-->
  <!--        <= user.want_items.count %>-->
  <!--      </div>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <div class="status-label">HAVE</div>-->
  <!--      <div id="have_count" class="status-value">-->
  <!--        <= user.have_items.count %>-->
  <!--      </div>-->
  <!--    </li>-->
  <!--  </ul>-->
  </div>
</div>

<script>
$().ready(function() {
  $('article').readmore({
      speed: 100,
      collapsedHeight: 70,
      heightMargin: 20,
      moreLink: '<a href="#"><%= t('js.more', :default => 'More') %></a>',
      lessLink: '<a href="#"><%= t('js.hide', :default => 'Hide') %></a>',
  });
});
</script>
